<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcz.wanaroid_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/welcomeicon"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/welcomeicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAroid_Kotlin">
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- autosize 屏幕适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
    </application>

</manifest>